@media screen and (min-width:992px){
    
    /** header-css main-login-page*/
    
    .sukras-main{
        height:100vh;
        width:100vw;
        box-sizing:border-box;
        margin:0px;
        overflow:hidden;
    }
    .header{
        height:12%;
        width:100%;
        padding:0px;
        padding-top:1.5%;
        padding-left:2%;
        margin:0px;
    }
    .sukras-logo{
        height:80%;
        margin-left:1%;
    }
    .sukras-logo2{
        height:120px;
        margin-bottom:0px;
    }

    /** website-body-css main-login-page*/
    
    .website-body{
       height:88%;
       width:100%;
       background-color:#fff6d4;
       margin:0px;
       padding:0px;
       display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
    }
    .form{
        margin:0px;
        height:auto;
        width:35%;
        background-color:#fff;
        border-radius:5px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }    

    
    .welcome-name{
        font-family:Arial, Helvetica, sans-serif;
        color:#3e3e3e;
        font-size:1.1rem;
        font-weight:bold;
    }
    .verify-number{
        font-family:Arial, Helvetica, sans-serif;
        color:#3e3e3e;
        font-size:0.8rem;
        margin-top:0px;
    }
    .enter-number{
        font-family:Arial, Helvetica, sans-serif;
        color:#9c9c9c;
        font-size:0.8rem;
        margin-top:0px;
        align-self:flex-start;
        margin-top:5%; 
        margin-left:17%;
    }
   
}


@media screen and (max-width:600px){
    
    /** header-css main-login-page*/
    
    .sukras-main{
        height:100vh;
        width:100vw;
        box-sizing:border-box;
        margin:0px;
        overflow:hidden;
        background-color:#fff;
    }
    .header{
        display: none;
        height:12%;
        width:100%;
        padding:0px;
        padding-top:1.5%;
        padding-left:2%;
        margin:0px;
    }
    .sukras-logo{
        height:80%;
        margin-left:1%;
    }
    .sukras-logo2{
        height: 200px;
        margin-bottom:0px;
    }

    /** website-body-css main-login-page*/
    
    .website-body{
       height:100%;
       width:100%;
       background-color:#fff;
       margin:0px;
       padding:0px;
       display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;
    }
    .form{
        margin:0px;
        height:auto;
        width: 100%;
        background-color:#fff;
        border-radius:5px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }    

    
    .welcome-name{
        font-family:Arial, Helvetica, sans-serif;
        color:#3e3e3e;
        font-size:1.3rem;
        font-weight:bold;
        margin-top:10%;
    }
    .verify-number{
        font-family:Arial, Helvetica, sans-serif;
        color:#3e3e3e;
        font-size:1rem;
        margin-top:0px;
        margin-bottom:10%;
    }
    .enter-number{
        font-family:Arial, Helvetica, sans-serif;
        color:#9c9c9c;
        font-size:1rem;
        margin-top:0px;
        align-self:flex-start;
        margin-top:25%; 
        margin-left:10%;
    }
   
}
