.successfull-booked{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

@media screen and (min-width:992px){
    .booked-successfully{
        height:40vh;
        width:20vw;
    }
    .booked-successfully-head{
        font-family: 'Courier New', Courier, monospace;
        font-size:3vw;
        font-weight:bold;
        color:rgb(2, 154, 2);
        margin-left:2%;
    }
}

@media screen and (max-width:600px){
    .booked-successfully{
        height:30vh;
        width:50vw;
    }
    .booked-successfully-head{
        font-family: 'Courier New', Courier, monospace;
        font-size:5vw;
        font-weight:bold;
        color:rgb(2, 154, 2);
        margin-left:2%;
    }
}