@media screen and (min-width: 992px) {
  .payment-progress {
    height: auto;
    width: 100%;
  }
  .head-progress {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.1%;
  }
  .arrow-btn-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-left: 2%;
    background-color: transparent;
    border-color: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5vw;
  }
  .left-arrow-progress {
    height: 30px;
    width: 30px;
  }
  .progress-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: #4e4e4e;
    margin-left: 41.5%;
  }
  .cart-progress {
    width: 100%;
    height: auto;
    padding: 0.1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .progress {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .progress-para1 {
    margin-bottom: 40%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f4bd18;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border-radius: 50px;
  }
  .progress-bar1 {
    color: #f4bd18;
    font-size: 1.5vw;
  }
  .progress-bar15 {
    color: #dfdfdf;
    font-size: 1.5vw;
  }
  .progress-para15 {
    margin: 15%;
    background-color: #dfdfdf;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border-radius: 50px;
  }
  .check-mark {
    font-size: 1.2vw;
  }

  .progress-para3 {
    margin: 15%;
    background-color: #f4bd18;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border-radius: 50px;
  }

  .progress-para2 {
    margin: 15%;
    color: #f4bd18;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
  }

  .progress-tick {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .payment-progress {
    height: auto;
    width: 100%;
  }
  .head-progress {
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
    padding: 0px;
  }
  .arrow-btn-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-left: 2%;
    margin-top: 3%;
    background-color: transparent;
    border-color: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 5vw;
  }
  .left-arrow-progress {
    height: 20px;
    width: 20px;
  }
  .progress-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: #4e4e4e;
    margin-top: 8%;
    position: relative;
    width: 59%;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }
  .cart-progress {
    width: 100%;
    height: auto;
    padding: 0.1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .progress {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .progress-para1 {
    margin-bottom: 40%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f4bd18;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    border-radius: 50px;
  }
  .progress-bar1 {
    color: #f4bd18;
    font-size: 3vw;
  }
  .progress-bar15 {
    color: #dfdfdf;
    font-size: 3vw;
  }
  .progress-para15 {
    margin: 15%;
    background-color: #dfdfdf;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    border-radius: 50px;
  }
  .check-mark {
    font-size: 2.5vw;
  }

  .progress-para3 {
    margin: 15%;
    background-color: #f4bd18;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-radius: 50px;
  }

  .progress-para2 {
    margin: 15%;
    color: #f4bd18;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
  }

  .progress-tick {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    width: 25%;
  }
}
