@media screen and (min-width: 992px) {
  .footer-con {
    padding-top: 2%;
    height: 45vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #d4af37;
  }
  .fotter-content {
    height: 100%;
    width: auto;
  }
  .footer-image {
    height: 70%;
    width: 60%;
    border-radius: 100%;
  }
  .logo-con {
    height: 98%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .logo-con2 {
    height: 98%;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .logo-con3 {
    height: 98%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .fotter-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: "#D4AF37";
    z-index: 2;
    margin: 0px;
  }
  .footer-para {
    border-style: solid;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 8%;
    padding-left: 8%;
    border-width: 2px;
    border-color: #d4af37;
    color: #d4af37;
    border-top: hidden;
    border-bottom: hidden;
  }

  .location-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2vw;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 600px) {
  .footer-con {
    padding-top: 2%;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #d4af37;
  }
  .fotter-content {
    height: 100%;
    width: auto;
  }
  .footer-image {
    height: 25vh;
    width: 55vw;
    border-radius: 100%;
  }
  .logo-con {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .logo-con2 {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .logo-con3 {
    height: 98%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-left: 3%;
    margin-bottom: 10%;
  }
  .fotter-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: "#D4AF37";
    z-index: 2;
    margin: 0px;
  }
  .footer-para {
    border-style: solid;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 8%;
    padding-left: 8%;
    border-width: 2px;
    border-color: #d4af37;
    color: #d4af37;
    border-top: hidden;
    border-bottom: hidden;
  }

  .location-footer {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2vw;
    margin-bottom: 2%;
    padding-left: 3%;
  }
}
