@media screen and (min-width:992px){
    .sukras-main-sukras{
        height:auto;
        width:100vw;
        box-sizing:border-box;
        margin:0px;
        overflow:hidden;
    }
    .sukras-header-sukras{
        height:12%;
        width:100%;
        padding:0px;
        padding-top:1.5%;
        padding-left:2%;
        margin:0px;
    }
   
    .sukraslogosukras{
        height:58px;
        margin-left:1%;
        margin-bottom:0.8%;
    }
    .sukraslogo2sukras{
        height:120px;
        margin-bottom:0px;
    }

    /** website body-css*/


    .website-body-sukras{
        height:88%;
        width:100%;
        background-color:#fff6d4;
        margin:0px;
        padding:0px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        padding-top:5%;
        padding-bottom:5%;
     }

     .form-sukras{
        margin:0px;
        height:auto;
        width:32%;
        background-color:#fff;
        border-radius:5px;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:3%;
    }  

    

    .get-started{
        font-family:Arial, Helvetica, sans-serif;
        font-size:1rem;
        font-weight:bold;
        color:#000;
        align-self:flex-start;
        margin-left:10%;
        margin-bottom:5px;
    }
    
    .enjoy-sevices{
        font-family:Arial, Helvetica, sans-serif;
        font-size:0.6rem;
        color:grey;
        align-self:flex-start;
        margin-left:10%;
        margin-top:0px;
    }

    .proceed{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        margin-top:5%;
        height:10%;
        border-width:0px;
        border-radius:5px;
        background-color:#9c9c9c;
        color:#fff;
        font-size:1vw;
        margin-bottom:8%;
        padding-top:2.5%;
        padding-bottom:2.5%;
    }

    .proceed-2{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        margin-top:5%;
        height:10%;
        border-width:0px;
        border-radius:5px;
        background-color:#ffcc33;
        color:#fff;
        font-size:1vw;
        margin-bottom:8%;
        padding-top:2.5%;
        padding-bottom:2.5%;
    }
    
    .proceed-con{
        height:5%;
        width:100%;
    }

    .category{
        display:inline-flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        height:10%;
        border-width:0px;
        border-radius:5px;
        background-color:transparent;
        color:grey;
        text-align:left;
        margin-top:2.5%;
        margin-bottom:2.5%;
        padding-top:2.5%;
        padding-bottom:2.5%;
        box-shadow: 1px 1px 6px 0px #CECECE;
    }

    
    .category-2{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        height:10%;
        border-width:1.5px;
        border-radius:5px;
        border-color:#008B0E;
        background-color:transparent;
        color:grey;
        text-align:left;
        margin-top:2.5%;
        margin-bottom:2.5%;
        padding-top:2.5%;
        padding-bottom:2.5%;
        box-shadow: 0px 0px 0px 0px transparent;
        position:relative;
    }
    
    .sukras-span{
        background-color: #FFF5D7;
        height:15%;
        width:18%;
        padding:4%;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        border-radius:50%;
        margin-right:5%;
        border-color:transparent;
    }

    .sukras-icons{
        height:35px;
        width:35px;
    }
    .sukras-name-span1{
        font-family:Arial, Helvetica, sans-serif;
        font-size:1vw;
        font-weight:500;   
        display: inline-flex;
        background-color:transparent;
        border-color:transparent;
    }
    .sukras-name-span2{
        font-family:Arial, Helvetica, sans-serif;
        font-size:1vw;
        font-weight:500;   
        display: inline-flex;
        position:absolute;
        top:40%;
        background-color:transparent;
        border-color:transparent;
    }
    .sukras-icons-yes{
        height:18px;
        width:18px;
        position:absolute;
        left:85%;
        top:40%;
    }
}


@media screen and (max-width:600px){
    .sukras-main-sukras{
        height:100vh;
        width:100vw;
        box-sizing:border-box;
        margin:0px;
        overflow:hidden;
    }
    .sukras-header-sukras{
        display: none;
        height:12%;
        width:100%;
        padding:0px;
        padding-top:1.5%;
        padding-left:2%;
        margin:0px;
    }
   
    .sukraslogosukras{
        height:58px;
        margin-left:1%;
        margin-bottom:0.8%;
    }
    .sukraslogo2sukras{
        height:160px;
        margin-bottom:0px;
        margin-top:6%;
    }

    /** website body-css*/


    .website-body-sukras{
        height:100%;
        width:100%;
        background-color:#fff6d4;
        margin:0px;
        padding:0px;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;

     }

     .form-sukras{
        margin:0px;
        height:100%;
        width:100%;
        background-color:#fff;
        border-radius:5px;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:3%;
    }  

    

    .get-started{
        font-family:Arial, Helvetica, sans-serif;
        font-size:1.3rem;
        font-weight:bold;
        color:#000;
        align-self:flex-start;
        margin-left:10%;
        margin-bottom:5px;
        margin-top:10%;
    }
    
    .enjoy-sevices{
        font-family:Arial, Helvetica, sans-serif;
        font-size:0.9rem;
        color:grey;
        align-self:flex-start;
        margin-left:10%;
        margin-top:0px;
        margin-bottom:10%;
    }

    .proceed{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        margin-top:5%;
        height:auto;
        border-width:0px;
        border-radius:5px;
        background-color:#9c9c9c;
        color:#fff;
        font-size:4vw;
        margin-bottom:8%;
        padding-top:4%;
        padding-bottom:4%;
    }

    .proceed-2{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        margin-top:5%;
        height:auto;
        border-width:0px;
        border-radius:5px;
        background-color:#ffcc33;
        color:#fff;
        font-size:4vw;
        margin-bottom:8%;
        padding-top:4%;
        padding-bottom:4%;
    }
    
    .proceed-con{
        height:8%;
        width:100%;
        margin-top:1%;
        margin-bottom:20%;
    }

    .category{
        display:inline-flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        height:9.5%;
        border-width:0px;
        border-radius:5px;
        background-color:transparent;
        color:grey;
        text-align:left;
        margin-top:2.5%;
        margin-bottom:2.5%;
        padding-top:3.5%;
        padding-bottom:3.5%;
        box-shadow: 1px 1px 6px 0px #CECECE;
    }

    
    .category-2{
        align-self:flex-start;
        width: 80%;
        margin-left:10%;
        height:9.5%;
        border-width:1.5px;
        border-radius:5px;
        border-color:#008B0E;
        background-color:transparent;
        color:grey;
        text-align:left;
        margin-top:4.5%;
        margin-bottom:4.5%;
        padding-top:2%;
        padding-bottom:3.5%;
        box-shadow: 0px 0px 0px 0px transparent;
        position:relative;
    }
    
    .sukras-span{
        background-color: #FFF5D7;
        height:50%;
        width:18%;
        padding:4%;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        border-radius:50%;
        margin-right:5%;
        border-color:transparent;
        padding-top:7%;
        padding-bottom:7%;
    }

    .sukras-icons{
        height:30px;
        width:30px;
    }
    .sukras-name-span1{
        font-family:Arial, Helvetica, sans-serif;
        font-size:3.8vw;
        font-weight:500;   
        display: inline-flex;
        background-color:transparent;
        border-color:transparent;
    }
    .sukras-name-span2{
        font-family:Arial, Helvetica, sans-serif;
        font-size:3.8vw;
        font-weight:500;   
        display: inline-flex;
        position:absolute;
        top:35%;
        background-color:transparent;
        border-color:transparent;
    }
    .sukras-icons-yes{
        height:19px;
        width:19px;
        position:absolute;
        left:85%;
        top:40%;
    }
}